body {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #0d3351;
    background-color: #f3f3f3;
}

.container {
    max-width: 1200px;
    padding: 0 30px;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.title {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    color: #0d3351;
}

.btn {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 14px 47px;
    background-color: #33c7fd;
    border: 3px solid #33c7fd;
    transition: all .7s;
}

.btn::after {
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    content: '\279E';
    opacity: 0;
    transition: right .7s, opacity .7s;
}

.btn:hover {
    padding: 14px 67px 14px 27px;
}

.btn:hover::after {
    right: 30px;
    opacity: 1;
}

.burger-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 41px;
    height: 41px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}

.burger-menu {
    top: 18px;
    left: 8px;
    height: 4px;
    width: 25px;
    background-color: #0d3351;
    border-radius: 3px;
    margin: auto 0;
    position: relative;
    transition: all .7s;
}

.burger-box:hover .burger-menu {
    background-color: #33c7fd;
}

.burger-menu::before,
.burger-menu::after {
    position: absolute;
    content: '';
    height: 4px;
    width: 25px;
    background-color: #0d3351;
    border-radius: 3px;
    transition: all .7s;
}

.burger-box:hover .burger-menu::before,
.burger-box:hover .burger-menu::after {
    background-color: #33c7fd;
}

.burger-box .burger-menu.active {
    background-color: transparent;
}

.burger-menu.active::before {
    top: 0;
    transform: rotate(135deg);
}

.burger-menu.active::after {
    top: 0;
    transform: rotate(-135deg);
}

.burger-menu::before {
    top: -8px;
}
.burger-menu::after {
    top: 8px;
}

/* HEADER */

.hero-image {
    position: relative;
    background: no-repeat url(../img/header-bg.jpg) bottom center / cover;
    margin-bottom: 120px;
}

.hero-image::after {
    position: absolute;
    content: url(../img/promo-decor.png);
    left: 47%;
    bottom: -118px;
}

.header__inner {
    padding: 40px 0;
    display: flex;
    align-items: center;
}

.header__menu {
    margin-right: auto;
}

.header__menu-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.header__menu-item-link {
    text-decoration-color: transparent;
    color: #0d3351;
    transition: text-decoration-color .7s;
}

.header__menu-item-link:hover {
    text-decoration-color: #0d3351;
}

.header__settings-icon {
    display: none;
}

.header__pannel {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-right: 35px;
    gap: 40px;
}

.icon {
    top: 5px;
    width: 12px;
    height: 12px;
    fill: #33c7fd;
}

.header__pannel-profile-option,
.header__pannel-currency-option,
.header__pannel-lang-option {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #0d3351 ;
    border: none;
    background: none;
}

.header__phone {
    font-weight: 700;
    text-decoration: none;
    color: #0d3351;
    line-height: 14px;
}

.header__phone span {
    display: block;
    font-size: 10px;
    font-weight: 400;
}

/* PROMO */

.promo {
    text-align: center;
}

.promo__logo {
    margin-bottom: 20px;
}

.promo__title {
    margin-bottom: 60px;
}

.promo__main-title {
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    font-size: 100px;
    text-align: center;
    margin-bottom: 58px;
    line-height: 100px;
}

.promo__btn {
    margin-bottom: 200px;
}

/* CATALOGUE */

.catalogue {
    margin-bottom: 90px;
}

.catalogue__title {
    margin-bottom: 75px;
}

.catalogue__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    max-height: 1090px;
    margin-bottom: 25px;
}
.catalogue__item {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 555px;
}

.catalogue__item-box {
    padding: 20px 40px 30px;
    background-color: #fff;
}

.catalogue__item-title {
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    line-height: normal;
    color: #33c7fd;
    position: relative;
    width: fit-content;
    margin-bottom: 10px;
    cursor: pointer;
}

.catalogue__item-title::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border: 5px solid transparent;
    border-left: 5px solid #33c7fd;
    top: 40%;
    right: -20px;
}

.catalogue__item .catalogue__item-info:last-of-type {
    margin-bottom: 10px;
}

.catalogue__item-info-title {
    font-weight: 700;
    display: inline-block;
}

.catalogue__item-info-text {
    display: inline-block;
}

.catalogue__item-price {
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    line-height: normal;
}

.new-price::after {
    padding-left: 30px;
    content: '15000 руб.';
    text-decoration: line-through;
    font-size: 18px;
    opacity: 0.5;
}

.catalogue__btn {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

/* GALLERY */

.gallery {
    margin-bottom: 80px;
}

.gallery__title {
    margin-bottom: 40px;
}

.gallery__list {
    display: flex;
    flex-wrap: wrap;
}

.gallery__img {
    width: 285px;
    height: 320px;
    object-fit: cover;
}

.gallery__img:nth-child(5n+1) {
    width: 570px;
}

/* REVIEWS */

.reviews {
    margin-bottom: 60px;
}

.reviews__title {
    margin-bottom: 40px;
}

.reviews__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.reviews__item {
    display: flex;
    flex-direction: column;
    max-width: 360px;
}

.reviews__item-img {
    width: 360px;
    height: 160px;
    object-fit: cover;
}

.reviews__item-info {
    flex-grow: 1;
    padding: 30px 40px 60px;
    background-color: #fff;
}

.reviews__item-info-title {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    line-height: 18px;
    color: #00a2dd;
    margin-bottom: 18px;
}

.reviews__item-info-cruise {
    opacity: 0.5;
    margin-bottom: 20px;
}

.gallery__btn {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

/* FOOTER */

.footer {
    background-color: #fff;
    padding: 30px 0;
}

.footer__inner {
    display: flex;
    align-items: center;
}

.footer__menu-list {
    margin-right: 150px;
}

.footer__menu-item-link {
    text-decoration-color: transparent;
    color: #0d3351;
    transition: text-decoration-color .7s;
}

.footer__menu-item-link:hover {
    text-decoration-color: #0d3351;
}

.footer__social {
    margin-right: auto;
}

.footer__social-list {
    display: flex;
    gap: 10px;
}

.footer__social-item-link>.icon {
    width: 30px;
    height: 30px;
    fill: #0d3351;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.icon {
    transition: fill .7s;
}

.icon:hover {
    fill: #33c7fd;
}

@media (max-width: 1024px) {
    .header__inner {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
    }
    .header__menu {
        flex-basis: 100%;
        margin-right: unset;
    }
    .header__menu-list {
        justify-content: center;
    }
}

@media (max-width: 595px) {
    .header__menu {
        flex-basis: unset;
    }
    .header__menu-list {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 10px 20px;
        border-radius: 50px;
        left: 30px;
        top: 80px;
        opacity: 0;
        transition: all .7s;
        z-index: -1;
    }
    .header__menu-list.active {
        opacity: 1;
        z-index: 1;
        top: 95px;
    }
    .burger-box {
        display: block;
    }
    .header__settings-icon {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 41px;
        height: 41px;
        background-color: #fff;
        border-radius: 50%;
        margin-right: auto;
    }
    .settings-icon {
        width: 25px;
        height: 25px;
        fill: #0d3351;
        transition: all .7s;
    }
    .header__settings-icon:hover .settings-icon {
        transform: rotate(35deg);
        fill: #33c7fd;
    }
    .header__settings-icon.active .settings-icon {
        transform: scale(1.2) rotate(35deg);
    }
    .header__pannel {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 10px 20px;
        border-radius: 50px;
        right: 30px;
        top: 80px;
        opacity: 0;
        transition: all .7s;
        z-index: -1;
    }
    .header__pannel.active {
        opacity: 1;
        z-index: 1;
        top: 95px;
    }
}