body {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #0d3351;
    background-color: #f3f3f3;
}

.container {
    max-width: 1200px;
    padding: 0 30px;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.title {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    color: #0d3351;
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 17px 50px;
    background-color: #33c7fd;
}

/* HEADER */

.hero-image {
    background: no-repeat url(../img/header-bg.jpg) bottom center / cover;
    margin-bottom: 120px;
}

.header__inner {
    padding: 40px 0;
    display: flex;
    align-items: center;
}

.header__menu {
    margin-right: auto;
}

.header__menu-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.header__menu-item-link {
    text-decoration: none;
    color: #0d3351;
}

.header__pannel {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-right: 35px;
    gap: 40px;
}

.icon {
    top: 5px;
    width: 12px;
    height: 12px;
    fill: #33c7fd;
}

.header__pannel-profile-option,
.header__pannel-currency-option,
.header__pannel-lang-option {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #0d3351 ;
    border: none;
    background: none;
}

.header__phone {
    font-weight: 700;
    text-decoration: none;
    color: #0d3351;
    line-height: 14px;
}

.header__phone span {
    display: block;
    font-size: 10px;
    font-weight: 400;
}

/* PROMO */

.promo {
    text-align: center;
}

.promo__logo {
    margin-bottom: 20px;
}

.promo__title {
    margin-bottom: 60px;
}

.promo__main-title {
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    font-size: 100px;
    text-align: center;
    margin-bottom: 58px;
    line-height: 100px;
}

.promo__btn {
    margin-bottom: 200px;
    position: relative;
}

.promo__btn::after {
    position: absolute;
    content: url(../img/promo-decor.png);
    left: 30%;
    top: 80px;
}

/* CATALOGUE */

.catalogue {
    margin-bottom: 90px;
}

.catalogue__title {
    margin-bottom: 75px;
}

.catalogue__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    max-height: 1090px;
    margin-bottom: 25px;
}
.catalogue__item {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 555px;
}

.catalogue__item-box {
    padding: 20px 40px 30px;
    background-color: #fff;
}

.catalogue__item-title {
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    line-height: normal;
    color: #33c7fd;
    position: relative;
    width: fit-content;
    margin-bottom: 10px;
    cursor: pointer;
}

.catalogue__item-title::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border: 5px solid transparent;
    border-left: 5px solid #33c7fd;
    top: 40%;
    right: -20px;
}

.catalogue__item .catalogue__item-info:last-of-type {
    margin-bottom: 10px;
}

.catalogue__item-info-title {
    font-weight: 700;
    display: inline-block;
}

.catalogue__item-info-text {
    display: inline-block;
}

.catalogue__item-price {
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    line-height: normal;
}

.new-price::after {
    padding-left: 30px;
    content: '15000 руб.';
    text-decoration: line-through;
    font-size: 18px;
    opacity: 0.5;
}

.catalogue__btn {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}