body {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #0d3351;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.title {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    color: #0d3351;
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 17px 50px;
    background-color: #33c7fd;
}

/* HEADER */

.hero-image {
    /* background: no-repeat url(../img/header-bg.jpg) bottom center / cover; */
    margin-bottom: 120px;
}

.header__inner {
    padding: 40px 0;
    display: flex;
    align-items: center;
}

.header__menu {
    margin-right: auto;
}

.header__menu-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.header__menu-item-link {
    text-decoration: none;
    color: #0d3351;
}

.header__pannel {
    display: flex;
    justify-content: space-between;
    margin-right: 35px;
    gap: 40px;
}

.header__pannel-profile,
.header__pannel-currency,
.header__pannel-lang {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #0d3351 ;
    border: none;
    background: none;
}

.header__pannel-profile {
    margin-left: 18px;
}
.header__pannel-currency {
    margin-left: 18px;
}
.header__pannel-lang {
}

.header__phone {
    font-weight: 700;
    text-decoration: none;
    color: #0d3351;
    line-height: 14px;
}

.header__phone span {
    display: block;
    font-size: 10px;
    font-weight: 400;
}

/* PROMO */

.promo {
    text-align: center;
}

.promo__logo {
    margin-bottom: 20px;
}

.promo__title {
    margin-bottom: 60px;
}

.promo__main-title {
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    font-size: 100px;
    text-align: center;
    margin-bottom: 58px;
    line-height: 100px;
}

.promo__btn {
    margin-bottom: 200px;
    position: relative;
}

.promo__btn::after {
    position: absolute;
    content: url(../img/promo-decor.png);
    left: 30%;
    top: 80px;
}
